@import url(style.css);

.grid-area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    'sidebar header header header' 
    'sidebar content content content'
    'sidebar content content content'
    'sidebar footer footer footer';
}

.header{
    grid-area: header;
    padding-right: 1000px;
    background-color: rgb(238, 39, 82);
}

.content{
    grid-area: content;
    margin-left: 100% auto;
    background-color: rgb(76, 76, 172);
}

.sidebar{
    margin-right: 200px;
    grid-area: sidebar;
    background-color: rgb(231, 22, 169);
}

.footer{
    grid-area: footer;
    background-color: rgb(227, 243, 248);
}